/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG HEADER TOP*/
.debug .header_top {
    background-color: #b6d7e4;
}

.debug .header_top>* {
    background-color: #daa520;
    border: 2px dashed black;
    height: 32px;
}

/*HEADER TOP*/
.header_top {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.header_top>* {
    display: flex;
    align-items: center;
}

#logo {
    width: 160px;
}

#link {
    width: 500px;
    justify-content: center;
}

#login {
    width: 160px;
    justify-content: flex-end;
}

/*DEBUG HEADER BOTTOM*/
.debug .header_bottom {
    background-color: #00008b;
    border-bottom: 2px solid #b6d7e4
}

.debug .header_bottom>* {
    background-color: #ee82ee;
    height: 280px;
    border: 2px dashed black;
}

/*HEADER BOTTOM*/
.header_bottom {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bottom>div {
    width: 630px;
}